body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: 0px 166px
}

.header {
background-image: url(bg.jpg);
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}


.header-line{
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  margin-right: 25px;
  transition: color 0.3s linear;
}
.nav-item:hover{
  color:red
}

.cart {
  position: relative;
  border-right: 1px solid #FFFFFF;
  padding-right: 10px;
  height: 50px;
}
.cart-img{
  position: absolute;
  top: 18px;
  right: 7px;
}
.num{
 color:#fff;
 text-decoration: none;
 font-weight: 700;
 transition: color 0.3s linear;
}
.num:hover{
  color:red
}

.phone-text{
 font-size: 14px;
 font-weight: 400;
 color: #fff;
}

.phone-holder{
  display: flex;
  align-items: center;
}

.button{
  background-color: #FF7400;
  color:#fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  padding: 14px 18px;
  transition: color 0.2s linear;
  
}
.button:hover{
  background-color: #381900;
}

.header-down{
  position: relative;
}


.header-title{
  color: #D67E35;
  font-family: 'Tinos', serif;
  font-size: 50px; 
  font-weight: 400;

  text-align: center;
  position:absolute;
  left: 0;
  margin-top: 222px;
  margin-bottom: 12px;
}
.header-suptitle{
 color: white;
 font-size: 18px;
 font-family: 'Open Sans', sans-serif;
}
.header-suptitle:after{
  position: absolute;
  content:'';
  height: 2px;
  width: 61px;
  background-color: #FFF;
  top: 127px;
  left: 56px;
}
.header-suptitle:before{
  position: absolute;
  content:'';
  height: 2px;
  width: 61px;
  background-color: #FFF;
  top: 127px;
  left: 308px;
}
.header-button{
  background-color: #FF7400;
  padding: 14px 28px;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;

  transition: background-color 0.3s linear ;
}
.header-button:hover{
  background-color: #904506;
}
.card-holder{
  display: flex;
  justify-content: center;
  
}
.card{
 width: 349px;
 box-shadow: 10px 10px 40px 20px #0000001A;
 margin-right: 31px;
 background-color: #FFF;
 margin-top: -80px;
 padding: 10px 10px;
}
.card-image{
  display: flex;
  justify-content: center;
  padding-top: 31px;
}
.card-title{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-family: 'Tinos', serif;
  font-size: 26px; 
  font-weight: 400;
}
.card-title span{
  color: #D67E35;
}
.card-desc{
  text-align: center;
  justify-content: center;
  font-family: 'Tinos', serif;
  font-size: 26px; 
  font-weight: 400;
  color: #656363;
  
}

.history{
 margin-top: 166px; 
 padding-bottom: 200px;
}

.history-title{
  font-family: 'Tinos', serif;
  font-size: 54px;
  font-weight: 400;
  width: 444px;
  text-align: center;
  margin-bottom: 21px;
}
.history-title span{
  color: #D67E35;
}
.history-desk{
  color: #656363;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; 
  font-weight: 400;
  width: 444px;
  text-align: center;
}
.history-number{
  display: flex;
  width: 444px;
  justify-content: center;
  margin-top: 40px;
  margin-left: 30px;
}
.number-item{
  margin-right: 60px;
  text-align: center;
  font-size: 40px;
  color: #BC9060;
}
.number-item span{
  display: block;
  color: #000;
}
.history-holder{
  display: flex;
  justify-content: space-between;
}
.history-images{
  position: relative;
}
.images-1{
  position: absolute;
  z-index: 0;
  top: -24px;
  left: -694px;
}
.images-2{
  position: absolute;
  z-index: 899;
  top: 162px;
  left: -504px;
}
.images-3{
  position: absolute;
  z-index: 999;
  top: -91px;
  left: -342px;
}

.black-block{
  background-image: url(black-bg.jpg);
  padding: 80px 0px ;
}
.left-title{
  font-family: 'Tinos', serif;
  font-size: 52px;
  font-weight: 400;
  color: #D67E34;
  margin-bottom: 20px;
}
.left-text{
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px; 
  font-weight: 700;
}
.right-btn{
  background-color: #FF7400;
  color:#fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  padding: 14px 18px;
  transition: color 0.2s linear;
}
.block-holder{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dishes-title{
  font-family: 'Tinos', serif;
  font-size: 54px;
  font-weight: 400;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
}
.dishes-title span{
  color: #D67E34
}
.burgers{
  display: flex;
  justify-content: center;
}
.burger-item{
  display: flex;
  align-items: center;
  margin-bottom: 29px;
  
}
.burgers-image{
  margin-right: 20px;
}
.burger-text{
  font-family: 'Tinos', serif;
  font-size: 26px;
  margin-left: 20px;
  

}

.menu{
  background-image: url(menu-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
  margin-top: 40px;
  

}
.menu-title{
  font-family: 'Tinos', serif;
  font-size: 54px;
  padding-top: 98px;
  color: #FFF;
  text-align: center;
  padding-bottom: 138px; 
}
.menu-item{
  background-color: #FFF;
  text-align: center;
  width: 33%;
  padding-top: 80px;
  padding-bottom: 30px;
  margin-right: 20px;
}

.menu-text{
  font-family: 'Tinos', serif;
  font-size: 26px;
  padding-top: 16px;
  padding-bottom: 10px;
}
.menu-subtext{
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.menu-btn{
  background-color: #D67E34;
  text-decoration: none;
  padding: 14px 67px;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 5px 5px 10px 0px #00000040;

}
.menu-button{
  margin-top: 20px
}
.menu-img{
  border-radius: 120px;
}
.price-image{
  position: absolute;
  top: 140px;
  left: 256px;
}
.menu-image{
  position: relative;
}
.price-420{
  position: absolute;
  top: 170px;
  left: 280px;
  color: #FFF;
  font-size: 30px;
}
.menu-items{
  display: flex;
  justify-content: center;
}